$black: #383838;
$grey: #797979;
$yellow: #FFD637;
$red: #F71412;
$green: #32A73C;
$hovered-gray: #EFEFEF;

$shadow: 0px 13px 22px rgba(228, 228, 228, 0.25);

$radius: 4px;

$store-address-width: 43%;
$store-schedule-width: 23%;
$store-availability-width: 17%;
$store-phone-number-width: 17%;

$laptopL-1249-bp: 1249px;
$laptopL-bp: 1167px;
$laptop-bp: 1110px;
$laptop-960-bp: 960px;
$laptop-891-bp: 891px;
$tablet-bp: 768px;
$tablet-618-bp: 618px;
$mobileL-bp: 481px;
$mobileS-bp: 340px;
