<header class="header">
   <div class="header__nav-mobile">
      <button class="header__nav-mobile__btn">
         <span></span>
         <span></span>
         <span></span>
      </button>
   </div>
   <div class="header__top">
      <nav class="nav">
         <ul class="header__nav-list">
            <li class="header-nav__item">
               <a class="header-nav__link" href="#">Оптовикам</a>
            </li>
            <li class="header-nav__item">
               <a class="header-nav__link" href="#">Заказ и доставка</a>
            </li>
            <li class="header-nav__item">
               <a class="header-nav__link" href="#">О компании</a>
            </li>
            <li class="header-nav__item">
               <a class="header-nav__link" href="#">Обзоры</a>
            </li>
            <li class="header-nav__item">
               <a class="header-nav__link" href="#">Контакты</a>
            </li>
         </ul>
      </nav>
      <div class="contact-us">
         <a class="contact-us__btn" href="#">Заказать звонок</a>
         <ul class="social">
            <li class="social__item">
               <a class="social__link" href="#" target="_blank">
                  <svg class="social__icon" width="25px" height="14px">
                     <use href="#vk"></use>
                  </svg>
               </a>
            </li>
            <li class="social__item">
               <a class="social__link" href="#" target="_blank">
                  <svg class="social__icon" width="20px" height="20px">
                     <use href="#whatsaap"></use>
                  </svg>
               </a>
            </li>
            <li class="social__item">
               <a class="social__link" href="#" target="_blank">
                  <svg class="social__icon" width="20px" height="20px">
                     <use href="#instagram"></use>
                  </svg>
               </a>
            </li>
         </ul>
         <a class="contact-us__link" href="mailto:info@richbee.ru">info@richbee.ru</a>
         <span class="contact-us__line"></span>
         <a class="contact-us__link" href="tel:88005411335">8 (800) 541-13-35 </a>
      </div>
   </div>
   <div class="header__bottom">
      <div class="container">
         <div class="header__inner">
            <a class="logo" href="#">
               <img class="logo__img" src="assets/images/logo.png" alt="">
               <svg class="logo__title" width="115px" height="18px">
                  <use href="#logo-title"></use>
               </svg>
            </a>
            <div class="header__search">
               <form class="header__form" action="/">
                  <input class="header__input" type="text" placeholder="Поиск товаров по сайту">
                  <button class="header__input-btn  btn" type="button">
                     <svg class="header__input-btn__icon" width="15px" height="15px">
                        <use href="#search"></use>
                     </svg>
                  </button>
               </form>
            </div>
            <div class="header__user">
               <a class="header__card  header__card--user" href="#">
                  <svg class="header__card-icon" width="27px" height="27px">
                     <use href="#user"></use>
                  </svg>
                  <div class="header__card-content">
                     <span class="header__card-text">Вход</span>
                     <span class="header__card-text">Регистрация</span>
                  </div>
               </a>
               <a class="header__card  header__card--cart" href="#">
                  <span class="header__card-left">
                     <svg class="header__card-icon" width="27px" height="27px">
                        <use href="#cart"></use>
                     </svg>
                  </span>
                  <div class="header__card-content">
                     <span class="header__card-text">4 127 350 ₽</span>
                     <span class="header__card-text">3 534 товаров </span>
                  </div>
               </a>
            </div>
         </div>
      </div>
   </div>
   <div class="header__nav">
      <div class="container">
         <div class="header__inner">
            <ul class="nav__list  nav__list--main">
               <li class="nav__item-main">
                  <a class="nav__link-main" href="#">Каталог товаров</a>
               </li>
               <li class="nav__item-main">
                  <a class="nav__link-main" href="#">акции и скидки</a>
               </li>
            </ul>
            <ul class="nav__list  nav__list--default">
               <li class="nav__item">
                  <a class="nav__link" href="#">Автосвет</a>
               </li>
               <li class="nav__item">
                  <a class="nav__link" href="#">Автохимия</a>
               </li>
               <li class="nav__item">
                  <a class="nav__link" href="#">Инструменты</a>
               </li>
               <li class="nav__item">
                  <a class="nav__link" href="#">Крепеж</a>
               </li>
               <li class="nav__item">
                  <a class="nav__link" href="#">Электрика</a>
               </li>
               <li class="nav__item">
                  <a class="nav__link" href="#">Посуда</a>
               </li>
               <li class="nav__item">
                  <a class="nav__link" href="#">Аксессуары</a>
               </li>
               <li class="nav__item">
                  <a class="nav__link" href="#">БРЫЗГОВИКИ</a>
               </li>
               <li class="nav__item">
                  <a class="nav__link" href="#">Фары</a>
               </li>
            </ul>
         </div>
      </div>
   </div>
   <div class="header__top-mobile">
      <button class="header__top-mobile__btn">
         <span></span>
         <span></span>
         <span></span>
      </button>
   </div>
</header>
