<div class="modal">
   <div class="modal__content">
      <button class="modal__close" type="button">
         <svg class="modal__close-icon" width="22px" height="22px">
            <use href="#modal-close"></use>
         </svg>
      </button>
      <h1 class="modal__title">Вход в личный кабинет </h1>
      <form class="auth" action="/">
         <label class="auth__group">
            <span class="auth__title">Email</span>
            <input class="auth__input" type="text" name="name" placeholder="Email">
         </label>
         <label class="auth__group">
            <span class="auth__title">Пароль</span>
            <input class="auth__input" type="password" name="password" placeholder="Пароль">
         </label>
         <a class="auth__forget-password" href="#">Забыли пароль?</a>
         <div class="modal__footer">
            <button class="btn  auth__btn">Войти</button>
            <button class="btn  btn--grey  auth__btn--grey">ЗАРЕГИСТРИРОВАТЬСЯ</button>
         </div>
      </form>
   </div>
</div>
